.App {
	text-align: center;
	background-color: blue;
	color: white;
	width: 80%;
	position: relative;
	left: 10%;
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.App a {
	color: white;
}

.App a:hover {
	color: white;
}

.App .card {
	color: green;
	width: 18rem;
	margin: 20px;
}

.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}